.vue-transition {}

.vue-transition-in {
    animation: vueTransitionIn;
}

@keyframes vueTransitionIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.vue-transition-out {
    animation: vueTransitionOut .3s;
}

@keyframes vueTransitionOut {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-0);
    }
}

.vue-transition-first {
    animation: vueTransitionFirst 0s;
}

@keyframes vueTransitionFirst {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*兼容ios*/
a,button,ul {
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(-1deg);
    }
    to {
        -webkit-filter: hue-rotate(0deg);
    }
}
